@charset "UTF-8";
/* CSS Document */
p{
    color: black;
    font-family: monospace;
    font-size: 14px;
    line-height: 18px;
    width: 600px;
    background-color: pink;
    padding: 20px;
}
body{
  background-image: url("slike/04.jpg");

}
